<% title "People", false %>
<% javascript 'ext-3.2.0/adapter/ext/ext-base-debug' %>
<% javascript 'ext-3.2.0/ext-all-debug' %>
<% stylesheet '/javascripts/ext-3.2.0/resources/css/ext-all.css' %>

<% stylesheet '/javascripts/ext-3.2.0/examples/ux/gridfilters/css/GridFilters.css' %>
<% javascript 'ext-3.2.0/examples/ux/gridfilters/GridFilters.js' %>
<% javascript 'ext-3.2.0/examples/ux/gridfilters/filter/Filter.js' %>
<% javascript 'ext-3.2.0/examples/ux/gridfilters/filter/ListFilter.js' %>
<% javascript 'ext-3.2.0/examples/ux/gridfilters/menu/ListMenu.js' %>
<% javascript 'ext-3.2.0/examples/ux/gridfilters/filter/StringFilter.js' %>



<% javascript_tag do -%>
  <%= render :partial => 'index.js' %>
<% end -%>

<div id="people-grid"></div>